<div class="ui fixed inverted menu">
	<div class="ui container">
    <a href="#" class="header item">
      Penn Coursify
    </a>
    <a href="" class="item">Home</a>
    <a href="logout" class="item">Logout</a>
  </div>
</div>
