<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
</head>
<body class="container">

    <header>
      <% include ./partials/header %>
    </header>

    <script>
      window.onload = addInput('root');
      var counter = 1;
      var limit = 10;
      function addInput(divName){
        if (counter == limit)  {
          alert("You have reached the limit of adding " + counter + " inputs");
        } else {
          var newdiv = document.createElement('semester');
          var semester = '<div id="course"><select class="ui dropdown" id="dept"><option value="">Department</option>' + 
            '<option value="CIS">CIS</option><option value="ESE">ESE</option></select><select class="ui dropdown" id="num">' + 
            '<option value="">Course Number</option><option value="331">331</option><option value="455">455</option>' + 
            '</select><div class="ui form"><div class="inline fields"><div class="field"><div class="ui radio checkbox">' + 
            '<input type="radio" name="rating"><label>1</label></div></div><div class="field">' + 
            '<div class="ui radio checkbox"><input type="radio" name="rating"><label>2</label></div></div>' + 
            '<div class="field"><div class="ui radio checkbox"><input type="radio" name="rating"><label>3</label></div>' + 
            '</div><div class="field"><div class="ui radio checkbox"><input type="radio" name="rating"><label>4</label>' + 
            '</div></div><div class="field"><div class="ui radio checkbox"><input type="radio" name="rating">' + 
            '<label>5</label></div></div></div></div></div>';
          newdiv.innerHTML = semester + semester + semester + semester + semester;
          document.getElementById(divName).appendChild(newdiv);
          counter++;
        }
      }
    </script>

    <main>
      <div class="ui main text container">
        <div class="ui grid">
          <div class="eight wide column">
            <h2 class="ui header">Rate Your Courses</h2>
            <form method="POST" action="submitRatings">
              <div id="root"></div>

              <input class="ui button" type="button" value="Rate more courses" onClick="addInput('root');">
              <input class="ui button" type="submit" value="Submit ratings">

            </form>
          </div>
          <div class="eight wide column">
            <h2 class="ui header">What You've Already Rated</h2>
            This is dummy data.
              <table class="ui celled table">
                <thead>
                  <tr><th>Department</th>
                  <th>Course Number</th>
                  <th>Rating</th>
                </tr></thead>
                <tbody>
                  <tr>
                    <td>CIS</td>
                    <td>455</td>
                    <td>4</td>
                  </tr>
                  <tr>
                    <td>CIS</td>
                    <td>331</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <td>ESE</td>
                    <td>303</td>
                    <td>2</td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <% include ./partials/footer %>
    </footer>

</body>
</html>
