<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body>

<header>
    <% include ./partials/header %>
</header>

<main>
    <div class="ui two column stackable grid container">
        <div class="column">
            <h2>Your Recommendations</h2>
            <table class="ui red table">
                <tbody>
                    <% for (var i = 0; i < recommendations.length; i++) { %>
                        <tr class="recommendation">
                            <td>
                                <div class="ui basic white label">
                                    <%= recommendations[i].class %>
                                </div>
                            </td>
                            <td>
                                <div class="ui labeled button">
                                    <a class="ui red icon button" href="https://penncoursereview.com/course/<%= recommendations[i].class %>" target="_blank">
                                        PCR
                                    </a>
                                    <a class="ui basic red label" href="https://penncoursereview.com/course/<%= recommendations[i].class %>" target="_blank">
                                        https://penncoursereview.com/course/<%= recommendations[i].class %>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="column">
            <h2>Submitted Ratings</h2>
            <table class="ui red table review-table">
                <tbody></tbody>
            </table>
        </div>
    </div>
</main>

<footer>
    <% include ./partials/footer %>
</footer>

<script>
    var buildReview = function(review) {
        var html = '<tr class="review" data-id="' + review._id + '">' +
                   '<td>' + review.courseName + '</td><td>' + review.rating + '</td>' +
                   '</tr>';
        return html;
    }

    var loadReviews = function() {
        $.getJSON('/my-reviews', function(reviews, err) {
            $('.review-table tbody').empty();
            $.each(reviews, function(i) {
                $('.review-table tbody').prepend(buildReview(reviews[i]));
            });
        });
    }

    loadReviews();
</script>

</body>
</html>
